<launch>
  <arg name="left_hand_attached" default="false" />
  <arg name="right_hand_attached" default="false" />
  <arg name="left_tool" default="generic" description="Left end-effector tool: generic, needle_holder, gripper, forceps" />
  <arg name="right_tool" default="generic" description="Right end-effector tool: generic, needle_holder, gripper, forceps" />

  <include if="$(var left_hand_attached)" file="$(find-pkg-share dynamixel_detachable_hand)/launch/left_hand.launch">
    <arg name="port_name" value="/dev/lhand" />
    <arg name="baud_rate" value="57600" />
    <arg name="namespace" value="lhand" />
    <arg name="tool" value="$(var left_tool)" />
  </include>

  <include unless="$(var left_hand_attached)" file="$(find-pkg-share dynamixel_detachable_hand)/launch/left_detacher.launch">
    <arg name="port_name" value="/dev/lhand" />
    <arg name="baud_rate" value="57600" />
    <arg name="namespace" value="lhand" />
  </include>

  <include if="$(var right_hand_attached)" file="$(find-pkg-share dynamixel_detachable_hand)/launch/right_hand.launch">
    <arg name="port_name" value="/dev/rhand" />
    <arg name="baud_rate" value="57600" />
    <arg name="namespace" value="rhand" />
    <arg name="tool" value="$(var right_tool)" />
  </include>

  <include unless="$(var right_hand_attached)" file="$(find-pkg-share dynamixel_detachable_hand)/launch/right_detacher.launch">
    <arg name="port_name" value="/dev/rhand" />
    <arg name="baud_rate" value="57600" />
    <arg name="namespace" value="rhand" />
  </include>
</launch>
