<launch>
  <arg name="left_tool" default="generic" description="Left end-effector tool: generic, needle_holder, gripper, forceps" />
  <arg name="right_tool" default="generic" description="Right end-effector tool: generic, needle_holder, gripper, forceps" />
  <arg name="left_port_name" default="/dev/lhand" />
  <arg name="right_port_name" default="/dev/rhand" />
  <arg name="baud_rate" default="57600" />
  <arg name="auto_detect" default="false" />

  <include file="$(find-pkg-share dynamixel_detachable_hand)/launch/dual_hand.launch.xml">
    <arg name="left_tool" value="$(var left_tool)" />
    <arg name="right_tool" value="$(var right_tool)" />
    <arg name="left_port_name" value="$(var left_port_name)" />
    <arg name="right_port_name" value="$(var right_port_name)" />
    <arg name="baud_rate" value="$(var baud_rate)" />
    <arg name="auto_detect" value="$(var auto_detect)" />
  </include>
</launch>
