<launch>
  <include file="$(find dynamixel_detachable_hand)/launch/left_hand.launch">
    <arg name="port_name" default="/dev/lhand" />
    <arg name="baud_rate" default="57600" />
    <arg name="namespace" default="lhand" />
  </include>

  <include file="$(find dynamixel_detachable_hand)/launch/right_hand.launch">
    <arg name="port_name" default="/dev/rhand" />
    <arg name="baud_rate" default="57600" />
    <arg name="namespace" default="rhand" />
  </include>


  <node name="dxl_temperature_visualizer" pkg="dynamixel_detachable_hand" type="dynamixel_temperature_guages.py" output="screen" />

</launch>
