<launch>
  <arg name="left_tool" default="generic" doc="Left end-effector tool: generic, needle_holder, gripper, forceps" />
  <arg name="right_tool" default="generic" doc="Right end-effector tool: generic, needle_holder, gripper, forceps" />

  <include file="$(find dynamixel_detachable_hand)/launch/left_hand.launch">
    <arg name="port_name" value="/dev/lhand" />
    <arg name="baud_rate" value="57600" />
    <arg name="namespace" value="lhand" />
    <arg name="tool" value="$(arg left_tool)" />
  </include>

  <include file="$(find dynamixel_detachable_hand)/launch/right_hand.launch">
    <arg name="port_name" value="/dev/rhand" />
    <arg name="baud_rate" value="57600" />
    <arg name="namespace" value="rhand" />
    <arg name="tool" value="$(arg right_tool)" />
  </include>


  <node name="dxl_temperature_visualizer" pkg="dynamixel_detachable_hand" type="dynamixel_temperature_guages.py" output="screen" />

</launch>
