<launch>
  <arg name="port_name" default="/dev/rhand" />
  <arg name="baud_rate" default="57600" />
  <arg name="namespace" default="rhand" />
  <arg name="tool" default="generic" description="End-effector tool: generic, needle_holder, gripper, forceps" />
  <arg name="publish_static_tf" default="false" />
  <arg name="parent_frame" default="" />
  <arg name="root_frame" default="rhand_base_link" />
  <arg name="static_xyz" default="0 0 0" />
  <arg name="static_rpy" default="0 0 0" />

  <include file="$(find-pkg-share dynamixel_detachable_hand)/launch/hand_control.launch.xml">
    <arg name="side" value="rhand" />
    <arg name="namespace" value="$(var namespace)" />
    <arg name="tool" value="$(var tool)" />
    <arg name="port_name" value="$(var port_name)" />
    <arg name="baud_rate" value="$(var baud_rate)" />
    <arg name="publish_static_tf" value="$(var publish_static_tf)" />
    <arg name="parent_frame" value="$(var parent_frame)" />
    <arg name="root_frame" value="$(var root_frame)" />
    <arg name="static_xyz" value="$(var static_xyz)" />
    <arg name="static_rpy" value="$(var static_rpy)" />
  </include>
</launch>
