<launch>
  <arg name="port" default="/dev/ttyUSB0" doc ="the serial port for connection" />
  <arg name="baud" default="115200" doc ="the serial baudrate" />
  <arg name="rviz" default="true" doc="Set true if you want RViz." />
  <arg name="moveit" default="false" doc="Set true if you want Moveit-based plan." />
  <arg name="robot_type" default="mycobot_280_m5"/>
  <arg name="urdf_path" default="$(find mycobot_description)/urdf/$(arg robot_type)/mycobot_280_m5.urdf"/>

  <!-- Driver -->
  <node pkg="jsk_mycobot_startup" type="mycobot_interface.py" name="mycobot_bridge"  output="screen" >
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
    <param name="model" value="$(arg robot_type)" />
  </node>

  <!-- robot state publisher for tf -->
  <param name="robot_description" textfile="$(arg urdf_path)" />
  <node name="$(anon robot_state_publisher)" pkg="robot_state_publisher" type="robot_state_publisher" />


  <!-- Moveit -->
  <include if="$(arg moveit)" file="$(find mycobot_280_moveit)/launch/move_group.launch" >
    <arg name="info" value="true" />
  </include>

  <!-- Rviz -->
  <node
    if="$(arg rviz)"
    pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find mycobot_280)/config/mycobot.rviz" />
  
</launch>
