<launch>
  <!-- Tested in ros-o 22.04-->
  <include file="$(find jsk_nextage_bringup)/launch/elp_head.launch">
  </include>
  
  <include file="$(find jsk_nextage_bringup)/launch/right_ft_sensor.launch">
  </include>

  <include file="$(find jsk_nextage_bringup)/launch/ft_sensor_calib.launch">
  </include>
  
</launch>
