<?xml version="1.0"?>
<robot name="lhand_gripper_robot">

  <link name="lhand_base_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.2"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <link name="lhand_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.3"/>
      <geometry>
        <box size="0.2 0.2 0.6"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
  </link>

  <link name="lhand_detach_link_0">
    <visual>
      <origin rpy="0 0 0" xyz="0.12 0 0.05"/>
      <geometry>
        <box size="0.08 0.08 0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <!--
    Joint limits are example values for XC330-T288-T with sample_trans (it is written later).
    effort: (Stall Torque [Nm]) * (mechanicalReduction in sample_trans) = 0.92 * 1.0
    velocity: (No Load Speed [rad/s]) / (mechanicalReduction in sample_trans) = (65 [rev/min] * 2 * pi / 60) / 1.0
  -->
  <joint name="lhand_joint" type="continuous">
    <origin rpy="0 0 0" xyz="0 0 0.1"/>
    <parent link="lhand_base_link"/>
    <child link="lhand_link"/>
    <axis xyz="0 1 0"/>
    <limit effort="2.00" velocity="6.8"/>
  </joint>

  <joint name="lhand_detach_joint_0" type="continuous">
    <origin rpy="0 0 0" xyz="0.1 0 0.1"/>
    <parent link="lhand_base_link"/>
    <child link="lhand_detach_link_0"/>
    <axis xyz="0 1 0"/>
    <limit effort="2.0" velocity="6.8"/>
  </joint>

  <transmission name="lhand_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <offset>0.0</offset>
    </joint>
    <actuator name="lhand_motor">
      <mechanicalReduction>1.0</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="lhand_detach_trans_0">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand_detach_joint_0">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <offset>0.0</offset>
    </joint>
    <actuator name="lhand_detach_motor_0">
      <mechanicalReduction>1.0</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
